.home{
    width:100%;
    height:100%;
    overflow:hidden;
}

.allPage{
    width:100%;
    height:100%;
    position:relative;
    transition:transform 0.8s ease-in-out;
    -webkit-transition:transform 0.8s ease-in-out;
}

.pageRadio{
    display: none;
}

.checkedPage0{
    transform:translateY(0);
    -webkit-transform:translateY(0);
}

.checkedPage1{
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
}

.checkedPage2{
    transform:translateY(-200%);
    -webkit-transform:translateY(-200%);
}

.checkedPage3{
    transform:translateY(-300%);
    -webkit-transform:translateY(-300%);
}

.page{
    width:100%;
    height:100%;
    overflow:hidden;
    position: absolute;
}

/*page0*/
.page0{
    top: 0;
}

.top{
    height: 50%;
    width: 100%;
}

.bottom{
    height: 50%;
    width: 100%;
}

.title{
    position: absolute;
    top: 30%;
    width: 100%;
}

.page0-title{
    color: #fff;
    -webkit-text-stroke: #000 0.5vmin;/*ÎÄ×Ö±ß¿ò*/
    font-size: 14vmin;
    font-weight: 800;
    text-align: center;
}

.Amt-page0-title{
    animation:titleColor 0.5s linear forwards 0.8s;
    -webkit-animation: titleColor 0.5s linear forwards 0.8s;
}

@keyframes titleColor {
    from{color: #fff;}
    to{color: #000;}
}

@-webkit-keyframes titleColor {
    from{color: #fff;}
    to{color: #000;}
}

.top-title{
    left: 20%;
    top: 27%;
}

.bottom-title{
    left:30%
}

.bottom-main{
    background: #fd0;
}

.Amt-bottom-main{
    animation:bottomAmt 0.8s linear forwards 0.8s;
    -webkit-animation:bottomAmt 0.8s linear forwards 0.8s;
}

@keyframes bottomAmt{
    0%{width: 30px;height: 0;}
    50%{width: 30px;height: 100%;}
    100%{width: 100%;height: 100%;}
}

@-webkit-keyframes bottomAmt{
    0%{width: 30px;height: 0;}
    50%{width: 30px;height: 100%;}
    100%{width: 100%;height: 100%;}
}

.cross{
    width: 8vw;
    height: 8vh;
    overflow: hidden;
    margin-left: 86vw;
    margin-top: 18vh;
}

.cross .y-div{
    height: 100%;
    border-left: 2px #000 solid;
    position: relative;
    left: 80%;
}

.cross .x-div{
    width: 100%;
    border-top: 2px #000 solid;
    position: relative;
    top: 80%;
}

/*page1*/
.page1{
    top: 100%;
}

.page1-main{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
}

.page1-color{
    position: absolute;
    width: 2%;
    height: 86%;
    top: 7%;
    left:50%;
    background-color: #fd0;
    z-index: -1;
}

.Amt-page1-color{
    animation: AmtPage1Color 0.5s linear forwards 0.8s;
    -webkit-animation: AmtPage1Color 0.5s linear forwards 0.8s;
}

@keyframes AmtPage1Color{
    0%{width: 2%;}
    100%{width: 40%;}
}

@-webkit-keyframes AmtPage1Color{
    0%{width: 2%;}
    100%{width: 40%;}
}

.page1-title{
    text-align: center;
    font: 100% Futura;
    font-weight: bold;
    color: #000000;
    font-size: 5.5vmin;
}

/*page2*/
.page2{
    top: 200%;
}

.page2-color{
    width: 2%;
    height: 100%;
    background-color: #fd0;
}

.Amt-page2-color{
    animation: AmtPage2Color 0.5s linear forwards 0.8s;
    -webkit-animation: AmtPage2Color 0.5s linear forwards 0.8s;
}

@keyframes AmtPage2Color{
    0%{width: 2%;}
    100%{width: 50%;}
}

@-webkit-keyframes AmtPage2Color{
    0%{width: 2%;}
    100%{width: 50%;}
}

/*page3*/
.page3{
    top: 300%;
    background: blue;
}

