.login{
	background:#334054;
	width:100%;
	height:100%;
	overflow:auto;
}

.loginForm{
	max-width:350px;
	margin:120px auto 0;
}

.userName{
	background:url(../image/user.png) #fff no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 50px;
}

.password{
	background:url(../image/password.png) #fff no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 50px;	
}

.loginTitle{
	margin:0 auto 50px;
}

.loginTitle p{
	color: #fff;
	font-size: 55px;
	font-weight: bold;
	width: 260px;
	display: block;
	margin: 0 auto;
}

.loginTitle span{
	color: #53d192;
}

.loginBtn{
	color: #fff;
	background: #53d192;
	border-color: #53d192;
}

.btn-link{
	color: #53d192;
}

.forgetBtn{
	float:right;
}