.registered{
	background:#f2f2f2;
	width:100%;
	height:100%;
	overflow:auto;
}

.registeredHeader{
	padding: 0 11px;
	margin-bottom: 40px;
}

.registeredForm{
	max-width:300px;
	margin:120px auto 0;
}

.userName{
	background:url(../image/user.png) #fff no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 50px;
}

.password{
	background:url(../image/password.png) #fff no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 50px;	
}

.loginPicture{
	width:100px;
	height:100px;
	background:url(../image/logo.png) no-repeat;
	background-size:85px;
    margin:0 auto 40px;
}

.loginBtn{
	margin-top:	30px;
}

.login .btn-link{
	margin-top:10px;
	color:#FFF;	
}

.forgetBtn{
	float:right;
}