<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<div id="layout" style="margin-top:100px;">
    <div id="test-editormd">
        <textarea style="display:none;">
        [TOC]

        #### Disabled options

        - TeX (Based on KaTeX);
        - Emoji;
        - Task lists;
        - HTML tags decode;
        - Flowchart and Sequence Diagram;

        #### Editor.md directory

            editor.md/
                    lib/
                    css/
                    scss/
                    tests/
                    fonts/
                    images/
                    plugins/
                    examples/
                    languages/
                    editormd.js
                    ...

        ```html
        &lt;!-- English --&gt;
        &lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

        &lt;!-- 繁體中文 --&gt;
        &lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
        ```
        </textarea>
    </div>
    <button id="submit" type="submit">提交表单</button>
    <button id="clear">清空</button>
</div>
</body>
</html>