<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/file.css"/>
    <title>file</title>
</head>
<body>
    <div class="file bs-docs-header">
        <div class="fileHeaderImg"></div>
        <div class="fileHeaderColor"></div>
        <div class="fileHeaderText">Tian-Blog</div>
    </div>
    <div class="container" data-ng-init="fileLoad()">
        <div class="row">
            <div class="col-sm-9">
                <!-- 文章模块-->
                <div class="fileList">
                </div>

                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pager">
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3 hidden-xs" style="background: red;height: 100px;">

            </div>

        </div>
    </div>
</body>
</html>