<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/home.css"/>
</head>

<body>
    <div class="home" data-ng-mousewheel="pageChange($event)" data-ng-touchmove="touchtest($event)">
        <!--页面选择单选框-->
        <form class="pageRadio">
            <input type="radio" id="radio0" ng-model="checkedPage" value="0">
            <input type="radio" id="radio1" ng-model="checkedPage" value="1">
            <input type="radio" id="radio2" ng-model="checkedPage" value="2">
            <input type="radio" id="radio3" ng-model="checkedPage" value="3">
        </form>
        <div class="allPage {{checkedPageCss}}">
            <div class="page page0">
                <div class="top">
                </div>
                <div class="bottom">
                    <div class="bottom-main {{AmtBottomMain}}">
                    </div>
                </div>
                <div class="title">
                    <div class="page0-title top-title {{AmtPage0Title}}">WELCOME TO</div>
                    <div class="page0-title bottom-title {{AmtPage0Title}}">Tian-Blog</div>
                    <div class="cross">
                        <div class="x-div"></div>
                        <div class="y-div"></div>
                    </div>
                </div>
            </div>

            <div class="page page1">
                <div class="page1-main">
                    <div class="page1-color {{AmtPage1Color}}"></div>
                    <div class="page1-title">WHAT AM I&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>

            <div class="page page2">
                <div class="page2-color {{AmtPage2Color}}"></div>
                <div class="page2-text"></div>
            </div>

            <div class="page page3">

            </div>
        </div>
    </div>
</body>
</html>
