<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/home.css"/>
</head>

<body>
    <div class="home" data-ng-mousewheel="mousewheelChangePage($event)" ng-touchMove="touchmoveChangePage()">
        <!--页面选择单选框-->
        <form class="pageRadio">
            <input type="radio" id="radio0" ng-model="checkedPage" value="0">
            <input type="radio" id="radio1" ng-model="checkedPage" value="1">
            <input type="radio" id="radio2" ng-model="checkedPage" value="2">
            <input type="radio" id="radio3" ng-model="checkedPage" value="3">
        </form>

        <div class="page-bottom-logo">@Tian-Blog</div>

        <div class="cross">
            <div class="x-div"></div>
            <div class="y-div"></div>
        </div>

        <div class="allPage {{checkedPageCss}}">
            <div class="page page0">
                <div class="top">
                </div>
                <div class="bottom">
                    <div class="bottom-main {{AmtBottomMain}}">
                    </div>
                </div>
                <div class="title">
                    <div class="page0-title top-title {{AmtPage0Title}}">WELCOME TO</div>
                    <div class="page0-title bottom-title {{AmtPage0Title}}">Tian-Blog</div>
                </div>
            </div>

            <div class="page page1">
                <div class="page1-main">
                    <div class="page1-color {{AmtPage1Color}}"></div>
                    <div class="page1-title">WHAT AM I&nbsp;&nbsp;&nbsp;</div>
                    <div class="page1-text">
                        &emsp;&emsp;一个程序员的自我展示空间，本博客有个人的部分程序代码展示。如果你有任何的优化建议以及发现任何bug,欢迎您以下的方式联系本人。
                        <br/><br/>
                        &emsp;&emsp;A programmer's self-exhibition space, this blog has a personal part of the program code display. If you have any optimization tips and found any errors, you are welcome to contact me the following way.
                    </div>
                </div>
            </div>

            <div class="page page2">
                <div class="page2-color {{AmtPage2Color}}"></div>
                <div class="page2-title">CALL&nbsp;&nbsp;ME&nbsp;&nbsp;&nbsp;</div>
                <div class="page2-text">
                    <p class="Email">Email:&nbsp;&nbsp;m18825070504@163.com</p>
                    <p class="QQ">QQ:&nbsp;&nbsp;382386287</p>
                    <p class="Github">GitHub:&nbsp;&nbsp;<a href="https://github.com/Tian5775" target="_blank">Tian5775</a></p>
                </div>
            </div>

            <div class="page page3">
                <div class="page3-color {{AmtPage3Color}}">
                    <div class="page3-color-top"></div>
                    <div class="page3-title"></div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
