<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Demo</title>
    <script type="text/javascript" src="../plugin/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="../plugin/angular/angular.min.js"></script>
    <script type="text/javascript" src="../plugin/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="../plugin/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>

<body>
	<nav>
    
    </nav>
	<div id="main" data-ng-app="myApp" data-ng-view>
    	
    </div>
</body>
</html>
