<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap/bootstrap.min.css"/>

    <!--jQueryConfirm-->
    <link rel="stylesheet" type="text/css" href="../plugin/jqueryConfirm/css/jquery-confirm.css"/>

    <!--editor.md-->
    <link rel="stylesheet" type="text/css" href="../plugin/editor.md/css/editormd.css"/>
    <link rel="stylesheet" href="../plugin/editor.md/lib/codemirror/codemirror.min.css" />

    <script type="text/javascript" src="../plugin/require/require.min.js" data-main="../js/config.js"></script>
</head>

<body>
	<div id="main">
        <nav data-ng-include="'view/nav.html'">
        
        </nav>
        <article data-ng-view>
        
        </article>
    </div>
</body>
</html>
