<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/login.css"/>
</head>

<body>
	<div class="login container">
    	<div class="loginForm">
        	<div class="row">
            	<div class="loginPicture">       	
                </div>
            </div>
        	<div class="rows">
            	<input type="text" class="userName form-control" placeholder="用户名"/>
            </div>
            <br>
        	<div class="rows">
            	<input type="text" class="password form-control" placeholder="密码"/>
            </div>
			<div class="rows">
            	<button class="loginBtn btn btn-info btn-block">登录</button>
            </div>
            <div class="rows">
            	<button class="registeredBtn btn btn-link">立即注册</button>
            	<button class="forgetBtn btn btn-link">忘记密码</button>
            </div>
        </div>
    </div>
</body>
</html>
