<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/registered.css"/>
</head>
<body>
    <div class="registered container">
        <div class="registeredForm">
            <div class="row">
                <div class="registeredHeader"">
                    <h1>欢迎加入Tian-Blog!</h1>
                    <h3>请输入您的注册信息</h3>
                </div>
            </div>
            <div class="rows">
                <input type="text" class="userName form-control" placeholder="用户名" data-ng-model="userName"/>
            </div>
            <br>
            <div class="rows">
                <input type="text" class="password form-control" placeholder="请输入密码" data-ng-model="userPassword"/>
            </div>
            <br>
            <div class="rows">
                <input type="text" class="password form-control" placeholder="请再次确认密码" data-ng-model="userPassword"/>
            </div>
            <div class="rows">
                <button class="loginBtn btn btn-info btn-block" data-ng-click="login()">立即注册</button>
            </div>
        </div>
    </div>
</body>
</html>