<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/registered.css"/>
</head>
<body>
    <div class="registered container">
        <div class="registeredForm">
            <div class="row">
                <div class="registeredHeader">
                    <h1>欢迎加入Tian-Blog!</h1>
                    <h3>请输入您的注册信息</h3>
                </div>
            </div>

            <form name="registeredForm" novalidate>
                <div class="form-group {{usernameStatus}}">
                    <label class="control-label" for="usernameInput">用户名</label>
                    <input type="text" class="form-control" id="usernameInput" name="usernameInput" data-ng-model="username" data-ng-blur="usernameBlur()" required/>
                    <span class="help-block" data-ng-hide="usernamePass">{{usernameMessage}}</span>
                </div>

                <div class="form-group  {{passwordStatus}}">
                    <label class="control-label" for="passwordInput">密码</label>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" data-ng-model="password" data-ng-blur="passwordBlur()" required/>
                    <span class="help-block" data-ng-hide="passwordPass">{{passwordMessage}}</span>
                </div>

                <div class="form-group  {{confirmStatus}}">
                    <label class="control-label" for="confirmInput">请再次确认密码</label>
                    <input type="password" class="form-control" id="confirmInput" name="confirmInput" data-ng-model="confirm" data-ng-blur="confirmBlur()" required/>
                    <span class="help-block" data-ng-hide="confirmPass">{{confirmMessage}}</span>
                </div>

                <button type="submit" class="btn btn-info btn-block" data-ng-disabled="!(usernamePass && passwordPass && confirmPass)" data-ng-click="registered()">提交</button>
            </form>
        </div>
    </div>
</body>
</html>